[flake8]
ignore =
  # No space before colon
  E203
  W503
  # Variable name should be lower case. We have some single-letter variables that make more sense to be caps.
  N806
  # Class attribute shadows a python builtin -- not much chance of that causing a problem
  A003
  # First line should be in imperative mood -- cached_properties don't fit this bill.
  D401
  # Missing docstring in public class -- my docstrings are in the __init__ which seems to fail this ?
  D101
max-line-length = 88
max-complexity = 20
inline-quotes = double
docstring-convention=numpy
rst-roles =
  class
  method
  func
  attr
exclude =
    devel/*
per-file-ignores =
    tests/*:D
    src/read_acq/__init__.py:F401
