exclude: '^docs/conf.py|^tests/data/'

ci:
  autoupdate_schedule: monthly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=no']

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.1.4
  hooks:
    # Run the formatter.
    - id: ruff-format

    # Run the linter.
    - id: ruff

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal
- repo: https://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.1
  hooks:
  - id: rst-linter

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.5.0
  hooks:
  -   id: setup-cfg-fmt

- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1
  hooks:
    - id: commitizen
      stages: [commit-msg]
